.App{
  width: 100%;
  height: 100%;
}
.left_side{
  height: 100%;
  width: 100%;
  background: rgba(159, 206, 250, 0.747);
}
ul{
  list-style-type: none;
  text-transform: capitalize;
  
  /* padding: 0; */
  /* margin: 0; */
  /* width: 100%; */
}
.side_link{
  /* padding: 20px; */
  /* width: 100%; */
  /* display: block; */
}
.side_link:hover{
  text-decoration: none;
  background: #ddd;
  border-radius: 10px;
  
}